@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.title{
    height: 50px;
    width: 275px;
    background-color: #1D00B0;
    border-top-right-radius: 50px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
.banner{
    width: 100%;
    height: 300px;
    background-image: url("../image/han-1 1.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.error_login{
    display: none;
}
.signin
{
    margin-top: 70px;
    height: 500px;
    width: 80%;
    border:  1px solid black;
}
.signin_title{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
.signin_input{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid rgb(187, 187, 187);
}
.btn_signin{
    background: #BFFFA9;
    height: 50px;
    padding: 10px;
}