@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.title{
    height: 50px;
    width: 275px;
    background-color: #1D00B0;
    border-top-right-radius: 50px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
.contract_cargo{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;   
}
.contract
{
    height: 600px;
    width: 80%;
    border:  1px solid black;
    border-top: none;
}
.input_contract{
    width: 800px;
    height: 200px;
    font-size: 24px;
    resize: none;
}
.btn_contract_submit{
    background-color: #f53c3c;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 220px;
    height: 40px;
    border:none;
}
.btn_contract_submit:hover{
    background-color: #fa5f5f;
    border: 3px solid rgb(121, 121, 121);
}