@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.banner{
    margin-top: 120px;
    width: 100%;
    height: 675px;
    background-image: url("../images/han-1 1.png");
}
.group_services{
    height: 200px;
   
}
.service{
    border: 1px solid black;
    width: 15%;
    height: 110%;
}
.service_img{
    width: 80%;
    height: 70%;
}
.service_title{
    font-size: 140%;
    font-family: 'Open Sans', sans-serif;
}
.overview_title{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
}
.overview_img{
    height: 400px;
    width: 1250px;
    background-image: url("../images/khai-bao-thu-tuc-hao-quan214 1.png");
}
.overview_text{
    width: 460px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.overview_button{
    background-color: #74ABFF;
    font-size: 20px;
    margin-left: 150px;
    height: 50px;
    width: 120px;
}
.overview_service{
    height: 400px;
    width: 100%;
}
.overview_service:nth-child(2)
{
    background-image: url("../images/8296_GettyImages-993273826cut2-1200x480 1.png");
}
.overview_service:nth-child(3)
{
    background-image: url("../images/shipping-containers-1024x682.jpg");
}
.overview_service:nth-child(4)
{
    background-image: url("../images/Schedule.jpg");
    background-size: cover;

}
.overview_service:nth-child(5)
{
    background-image: url("../images/BV-Acharya-8.png");
    background-size: cover;

}
.overview_service_title{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}
.overview_service_content{
    font-size: 36px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}
.overview_new{
    height: 100%;
    width: 50%;
    border: 1px solid black;
}
.overview_new_title{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
.overview_new_content{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}
.btn_new{
    height: 75px;
    width: 225px;
    border: 2px solid black;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(116, 171, 255, 0.5);
}

@media only screen and (max-width: 1800px) {
    .overview_img{
        height: 400px;
        width: 1130px;
    }
    .overview_title{
        font-size: 34px;
    }
    .overview_text{
        width: 460px;
        font-size: 20px;
    }
    .overview_service_title{
        font-size: 46px;

    }
    .overview_service_content{
        font-size: 34px;
        font-weight: 900;
    }
}
@media only screen and (max-width: 1700px) {
    .overview_img{
        height: 380px;
        width: 950px;
    }
    .overview_title{
        font-size: 32px;
    }
    .overview_text{
        width: 470px;
        font-size: 20px;
    }

    .overview_service_title{
        font-size: 42px;

    }
    .overview_service_content{
        font-size: 32px;
        font-weight: 900;
    }

    .overview_new_title{
        font-size: 28px;

    }
    .overview_new_content{
        font-size: 20px;
    }
    
}
@media only screen and (max-width: 1600px) {
    .overview_img{
        height: 360px;
        width: 920px;
    }
    .overview_title{
        font-size: 30px;
    }
    .overview_text{
        width: 470px;
        font-size: 20px;
    }

    .overview_service_title{
        font-size: 38px;

    }
    .overview_service_content{
        font-size: 30px;
        font-weight: 900;
    }

    .overview_new_title{
        font-size: 26px;

    }
    .overview_new_content{
        font-size: 18px;
    }
    .btn_new{
        height: 65px;
        width: 200px;
        font-size: 28px;
    }
}
@media only screen and (max-width: 1500px) {
    .overview_img{
        height: 340px;
        width: 825px;
    }
    .overview_title{
        font-size: 28px;
    }
    .overview_text{
        width: 470px;
        font-size: 18px;
    }

    .overview_service_title{
        font-size: 34px;

    }
    .overview_service_content{
        font-size: 26px;
        font-weight: 900;
    }

    .overview_new_title{
        font-size: 24px;

    }
    .overview_new_content{
        font-size: 16px;
    }
    .btn_new{
        height: 55px;
        width: 180px;
        font-size: 26px;
    }
}
@media only screen and (max-width: 1400px) {
    .overview_img{
        height: 300px;
        width: 750px;
    }
    .overview_title{
        font-size: 28px;
    }
    .overview_text{
        width: 470px;
        font-size: 18px;
    }
    .service_img{
        width: 140px;
        height: 140px;
    }

    .overview_service_title{
        font-size: 30px;

    }
    .overview_service_content{
        font-size: 22px;
        font-weight: 900;
    }

    .overview_new_title{
        font-size: 22px;

    }
    .overview_new_content{
        font-size: 14px;
    }
    .btn_new{
        height: 45px;
        width: 160px;
        font-size: 24px;
    }
    .overview_content{
        padding: 0;
    }
}
@media only screen and (max-width: 1300px) {
    .overview_new_title{
        font-size: 22px;

    }
    .overview_new_content{
        font-size: 14px;
    }
    .btn_new{
        height: 35px;
        width: 140px;
        font-size: 22px;
    }
    
}
@media only screen and (max-width: 1200px) {
    
   
}
@media only screen and (max-width: 1100px) {

}