@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.option_title{
    height: 125px;
    font-size: 32px;
}
.option_choice{
    height: 175px;
    width: 225px;
    border: 1px solid black;
    background-color: white;
}
.option_choice:hover{
    background-color: rgb(194, 194, 194);
}
.choice_img{
    height: 100px;
    width: 100px;
}
.choice_title{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}