@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.cargo{
    transition: width 0.5s ease-in-out;
}
.table{
    transition: width 0.5s ease-in-out;
}
.cargo_option
{
    height: 120px;
}
.cargo_option_add,.cargo_option_report{
    height: 100px;
    width: 150px;
    background-color: white;
}
.cargo_option_add:hover,.cargo_option_report:hover{
    background-color: #cacaca;
}
.option_content{
    font-family: 'Open Sans', sans-serif;
}
.search_cargo{
    font-size: 24px;
    width: 500px;
    height: 50px;
    
}
.choice_img{
    height: 50px;
}
.submit_Search_cargo{
    height: 50px;
    width: 125px;
    font-size: 20px;
    
    font-family: 'Open Sans', sans-serif;
    background-color: #ebebeb;
}
.submit_Search_cargo:hover{
    background-color: #cacaca;
}
.search_img{
    position: absolute;
    margin-top: 15px;
    margin-left: -42px;
    
}
.cargo_view{
    border: 1px solid black;
    border-radius: 15px;
}

.modal_add{
    width: 700px;
}
.modal-header{
    background-color: #D9D9D9;
    font-size: 20px;
}
.modal-title{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
.btn-close{
    width: 30px;
    height: 30px;
}
.form_add_submit,.form_add_close,
.form_report_close,.form_report_submit
,.form_export_close,.form_change_close,
.form_change_submit,.form_delete_close,.form_delete_submit{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.cargo_change_id,
.cargo_add_id,.cargo_delete_name,
.cargo_delete_id,.cargo_delete_phone,
.cargo_delete_email,.cargo_delete_date,
.cargo_delete_type,.cargo_delete_weight,.cargo_change_contract{
    background-color: #D9D9D9;
}
.table_add_cargo tr,.table_change_cargo tr,.table_delete_cargo tr{
    height: 65px;
}
.table_report_cargo tr{
    height: 50px;
}
.table_export_cargo tr{
    height: 50px;
}
.btn_change,.btn_delete{
    background:none;
}
.structure::-webkit-scrollbar{
    display: none;
}
.suggestionsCargoAddContract{
    width: 40%;
    border-radius: 5px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
    margin-top: 1px;
}
.suggestionsCargoSearch{
    width: 10%;
    margin-left: 0.5%;
    border-radius: 5px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
    margin-top: -3px;
}
.suggestion_item{
    height: 45px;
    padding-left: 5px;
    align-items: center;
    display: flex;
}
.suggestion_item:hover{
    cursor: pointer;
   background-color:rgb(230, 230, 230) ;
}