@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.trip{
    transition: width 0.5s ease-in-out;
}
.table{
    transition: width 0.5s ease-in-out;
}
.trip_option
{
    height: 120px;
}
.trip_option_add,.trip_option_report{
    height: 100px;
    width: 150px;
    background-color: white;
}
.trip_option_add:hover,.trip_option_report:hover{
    background-color: #cacaca;
}
.option_content{
    font-family: 'Open Sans', sans-serif;
}
.search_trip{
    font-size: 24px;
    width: 500px;
    height: 50px;
    
}
.choice_img{
    height: 50px;
}
.submit_Search_trip{
    height: 50px;
    width: 125px;
    font-size: 20px;
    
    font-family: 'Open Sans', sans-serif;
    background-color: #ebebeb;
}
.submit_Search_trip{
    background-color: #cacaca;
}
.search_img{
    position: absolute;
    margin-top: 15px;
    margin-left: -42px;
    
}
.trip_view{
    border: 1px solid black;
    border-radius: 15px;
}

.modal_add{
    width: 700px;
}
.modal-header{
    background-color: #D9D9D9;
    font-size: 20px;
}
.modal-title{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
.btn-close{
    width: 30px;
    height: 30px;
}
.form_add_submit,.form_add_close,
.form_report_close,.form_report_submit
,.form_export_close,.form_change_close,
.form_change_submit,.form_delete_close,.form_delete_submit{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.trip_change_name,.trip_change_id,.trip_delete_name,
.trip_delete_id,.trip_delete_phone,
.trip_delete_email,.trip_delete_date,
.trip_add_money,.trip_change_order,
.trip_change_money,.trip_delete_order,
.trip_delete_schedule,.trip_delete_ship,
.trip_delete_time{
    background-color: #D9D9D9;
}
.table_add_trip tr,.table_change_trip tr,.table_delete_trip tr{
    height: 65px;
}
.table_report_trip tr{
    height: 50px;
}
.table_export_trip tr{
    height: 50px;
}
.btn_change,.btn_delete{
    background:none;
}
.structure::-webkit-scrollbar{
    display: none;
}
.suggestionsTripAddSchedule{
    width: 40%;
    height: 250px;
    border-radius: 5px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
    margin-top: 1px;
}
.suggestionsTripReportSchedule{
    width: 35%;
    border-radius: 5px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
    margin-top: 1px;
}
.suggestionsTripAddShip{
    width: 40%;
    border-radius: 5px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
    margin-top: 1px;
}
.suggestionsTripChangeSchedule{
    width: 35%;
    border-radius: 5px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
    margin-top: 1px;
}
.suggestionsTripChangeShip{
    width: 35%;
    border-radius: 5px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
    margin-top: 1px;
}
.suggestionsTripSearch{
    width: 10%;
    margin-left: 0.5%;
    border-radius: 5px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
    margin-top: -3px;
}
.suggestion_item{
    height: 45px;
    padding-left: 5px;
    align-items: center;
    display: flex;
}
.suggestion_item:hover{
    cursor: pointer;
   background-color:rgb(230, 230, 230) ;
}